.modal-wrapper{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(white, .7);
	backdrop-filter: blur(10px);
	z-index: 20;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity .4s;
	pointer-events: none;
	opacity: 0;

	& .modal{

		background-color: white;
		border-radius: 10px;
		box-shadow: 0 10px 40px -20px rgba(black, .4);
		transition: transform .4s;
		transform: translateY(2vmax);
		width: 1200px;
		transform-origin: bottom center;

		& .modal-header{

			display: flex;
			padding: 30px;
			
			& .title-wrapper{
				flex-grow: 1;
				margin-left: -30px;
				padding-top: 10px;
				padding-bottom: 10px;
				padding-left: 30px;
				border-left: 6px solid $secondary;
				padding-right: 40px;
			}			

			& h3{
				font-size: clamp(22px, 3vw, 26px);
				font-weight: 500;
				color: $secondary;
				line-height: 1.2em;
				margin: 0;
				margin-bottom: 10px;
			}

			& p{
				margin: 0;
			}

			& .form-switch{
				padding: 10px 0;
			}
		}

		& .modal-content{
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 30px;
			padding: 0 30px;

			& .numbers{

				& h4{
					font-size: clamp(22px, 3vw, 26px);
					font-weight: 500;
					margin: 0;
				}

				&#results{
					grid-column: 3 / 4;
					grid-row: 1 / 3;
				}

				&#contacts{
					grid-column: 1 / 3;

					& .value{
						text-align: left;
					}
				}

				& table{

					& tr{
						border: 0;

						&:nth-child(odd){

							& td{
								background-color: rgba(black, .05);
							}
						}

						& th{
							padding-bottom: 0;
							border-bottom: 1px solid #ccc;
						}

						& td{
							padding: 10px;

							&.key{
								font-size: 14px;
							}
							
							&.value{
								font-weight: bold;
								font-size: clamp(16px, 3vw, 18px);
								text-align: right;
							}
						}
					}
				}
			}
		}

		& .note{
			padding: 0 30px;

			& p{
				margin: 0;
				padding: 20px;
				background-color: rgb(239, 241, 217);
				border-radius: 12px;
				margin-top: 40px;
			}
		}

		& .modal-footer{
			padding: 30px;
			text-align: right;
		}
	}

	&.open{

		opacity: 1;
		pointer-events: all;

		& .modal{
			transform: none;
		}
	}

	&[data-level="Магистратура"]{

		& .modal{
			width: 800px;
		}

		& .modal .modal-content{

			grid-template-columns: repeat(2, 1fr);

			& .numbers{

				&#results{
					display: none;
				}

				&#free{
					grid-column: 1 / 2;
					grid-row: 1 / 2;
				}

				&#paid{
					grid-column: 2 / 3;
					grid-row: 1 / 2;
				}

				&#contacts{
					grid-column: 1 / 3;
					grid-row: 2 / 3;
				}
			}
		}
	}
}

